body {
    background-color: white;
    background: white;
}

img {
    object-fit: scale-down;
}

.card-title,
.card-subtitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}