{% extends 'home.html' %}
{% load bootstrap5 %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Snacks/snack_list_style.css' %}">
{% endblock %}

{% block title %}Snack list{% endblock %}

{% block content %}
        <div class="search">
            <h2>Search snack</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Search</button>
            </form>
        </div>


    <div class="list">
        <h2>Snack list</h2>
        <ul class="snacks">
            {% for snack in all_the_snacks %}
                <div>
                    <a href="{% url 'snack-detail' snack.id %}">
                        <img id="img{{ snack.id }}" src="{{ snack.bilder.url }}" height="150" width="150">
                    </a>
                    <a id="a{{ snack.id }}" href="{% url 'snack-detail' snack.id %}"><b>{{  snack.name }}</b></a>
                    <p id="text{{ snack.id }}">{{ snack.gewicht }} g <br> {{ snack.preis }} € <br> </p>
                </div>
            {% endfor %}
        </ul>
    </div>

    <a class="add" href={% url 'snack-create' %}>Add a new snack</a>
{% endblock %}