{% extends 'home.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Snacks/snack_list_style.css' %}">
{% endblock %}

{% block content %}

    <nav class="col-lg bg-warning border-bottom border-top">
        <div class="h-25 row justify-content-center">
            <div class="w-100 py-2"></div>
            <form method="POST" class="row justify-content-center ">
                {% csrf_token %}
                {% crispy form %}
                <button class="btn h-50 p-1 mx-5 rounded align-self-center" type="submit">Search</button>
            </form>
        </div>
    </nav>
        <div class="col-12 mt-4">
            <div class="w-75 row mx-auto">
                {% for snack in all_the_snacks %}
                    <div class="col text-center py-5 m-1 border rounded">
                        <div class="col align-self-center ">
                            <a href="{% url 'snack-detail' snack.id %}">
                                <img id="img{{ snack.id }}" src="{{ snack.bilder.url }}" height="150" width="150">
                            </a>
                            <div class="w-100"></div>
                            <a id="a{{ snack.id }}" href="{% url 'snack-detail' snack.id %}"><b>{{  snack.name }}</b></a>
                            <div class="w-100"></div>
                            <p id="text{{ snack.id }}">{{ snack.gewicht }} g <br> {{ snack.preis }} € <br> </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <a class="" href={% url 'snack-create' %}>Add a new snack</a>
{% endblock %}