{% extends 'home.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Snacks/snacks_style.css' %}">
{% endblock %}

{% block title %}Snack list{% endblock %}

{% block content %}

    <h2>Search snack</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
    <br>
    <br>


    <h2>Snack list</h2>
    <ul>
        {% for snack in all_the_snacks %}
            <img src="{{ snack.pictures.url }}" height="150" width="150"><br>
            <a href="{% url 'snack-detail' snack.id %}"><b>{{  snack.name }}</b></a><br>
            {{ snack.gewicht }} g <br> {{ snack.preis }} € <br>
            <br>
        {% endfor %}
    </ul>

    <a href={% url 'snack-create' %}>Add a new snack</a><br>
{% endblock %}