{% extends 'home.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Snacks/snacks_style.css' %}">
{% endblock %}

{% block title %}Delete snack{% endblock %}

{% block logged_in_content%}
{% if can_delete %}

    <h2>Delete snack</h2>
    <form method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ that_one_snack }}"?</p>
        <input type="hidden" id="snack_id" name="snack_id" value="{{ that_one_snack.id }}">
        <input type="submit" name="delete" value="Confirm">
        <input type="submit" name="cancel" value="Cancel">
    </form>


{% else %}

    <p>You are not authorized to delete snacks</p>
    <a href="{% url 'login' %}">Login</a>

{% endif %}
{% endblock %}
