{% extends 'home.html' %}
{% load static %}

{% block title %}Snack edit{% endblock %}

{% block logged_in_content %}
<h2>Snack edit</h2>
    {% if not can_delete %}
        You are not authorized to edit snacks.<br><br>
    {% endif %}

        <table>
        <img src="{{ snack.bilder.url }}" height="350" width="350"><br>
        <tr>
            <td><b>Name:</b></td>
            <td>{{ snack.name }}<br></td>
        </tr>
        <tr>
            <td><b>Gewicht:</b></td>
            <td>{{ snack.gewicht }} g<br></td>
        </tr>
        <tr>
            <td><b>Beschreibung:</b></td>
            <td>{{ snack.beschreibung }}<br></td>
        </tr>
        <tr>
            <td><b>Artikelnummer:</b></td>
            <td>{{ snack.artikelnummer }}</td>
        </tr>
        <tr>
            <td><b>Preis:</b></td>
            <td>{{ snack.preis }} €</td>
        </tr>
        <tr>
            <td><b>Hersteller:</b></td>
            <td>{{ snack.hersteller.username }}</td>
        </tr>
        <tr>
            <td><b>Erstellungs-Zeitstempel:</b></td>
            <td>{{ snack.erstellungs_zeitstempel }}</td>
        </tr>
        <tr>
            <td><b>Produktinfo:</b></td>
            <td><a href="{{ snack.produkt_info.url }}">{{ snack.produkt_info.name }}</a></td>
        </tr>

    </table>
    {% if can_delete %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Edit</button>
        </form>
    {% else %}
        {{ snack.name }}<br>
    {% endif %}
{% endblock %}