{% extends 'home.html' %}

{% load static %}

{% block title %}Users list{% endblock %}

{% block content %}
    <div class="container my-2 py-2">
        <h2 class="display-4 py-2 text-center">Users list</h2>
        <div class="row align-items-center">
            {% for myuser in all_myusers %}
                <div class="col m-2 p-4">
                    <p>{{ myuser.first_name }} {{ myuser.last_name }}</p>
                    <p> ({{ myuser.date_of_birth }}) </p>
                    <img src="{{ myuser.profile_picture.url }}" height="150" width="150"><br>
                    <a href="{{ myuser.some_file.url }}">Some uploaded file</a>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}