{% extends 'home.html' %}

{% load static %}

{% block title %}Users list{% endblock %}

{% block content %}
    <div class="container my-2 py-2">
        <h2 class="display-4 py-2 text-center">Users list</h2>
        <div class="row align-items-center">
            {% for myuser in all_myusers %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="card m-2 p-4">
                    <img class="card-img-top" src="{{ myuser.profile_picture.url }}" height="150" width="150"><br>
                    <div class="card-body">
                        <p>Name: {{ myuser.first_name }} {{ myuser.last_name }}</p>
                        <p>DoB: {{ myuser.date_of_birth }}</p>
                        <a href="{{ myuser.some_file.url }}">uploaded file</a>
                    </div>
                </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}