
/*
*,
*::after,
*::before{
    box-sizing: border-box;
}

:root{
    font-size: 1.2rem;
    color: #6f6f6f;
    background: beige;
    line-height: 1.3;
}

body {
    display: grid;
    grid-template-areas:
    ". banner ."
    "search snacks cart"
    ". . add"
    ;
    align-items: baseline;
}

.list h2{
    text-align: center;
}

.list{
    grid-area: snacks;
}

.search{
    grid-area: search;
    width: 40%;
}

.cart{
    grid-area: cart;
}

.snacks{
    grid-area: snacks;
    display: grid;
    grid-template-rows: repeat(2,auto);
    grid-template-columns: repeat(4, auto);
}

.snacks * {
    display: grid;
    grid-template-rows: repeat(2,auto);
    justify-self: center;
}

.add{
    grid-area: add;
}
*/

.card{
    transition: .5s transform;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

img {
    object-fit: scale-down;
}